<input checked id="t-help" name="t-help" type="checkbox">
<input checked id="t-success" name="t-success" type="checkbox">
<input checked id="t-warning" name="t-warning" type="checkbox">
<input checked id="t-error" name="t-error" type="checkbox">
<div class="toast-panel">
    <div class="toast-item help">
        <div class="toast help">
            <label class="close" for="t-help"></label>
            <h3>Help!</h3>
            <p>Do you have a problem? Just use this <a href="#">contact form</a>.</p>
        </div>
    </div>
    <div class="toast-item success">
        <div class="toast success">
            <label class="close" for="t-success"></label>
            <h3>Success!</h3>
            <p>Your message has been sent successfully.</p>
        </div>
    </div>
    <div class="toast-item warning">
        <div class="toast warning">
            <label class="close" for="t-warning"></label>
            <h3>Warning!</h3>
            <p>Sorry, there was a problem with your request.</p>
        </div>
    </div>
    <div class="toast-item error">
        <div class="toast error">
            <label class="close" for="t-error"></label>
            <h3>Error!</h3>
            <p>Change a few thing up and try submitting again.</p>
        </div>
    </div>
    <div class="toast-icons">
        <label class="toast-icon icon-help" for="t-help"></label>
        <label class="toast-icon icon-success" for="t-success"></label>
        <label class="toast-icon icon-warning" for="t-warning"></label>
        <label class="toast-icon icon-error" for="t-error"></label>
    </div>
</div>