<!DOCTYPE html>
<html dir="rtl" lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="../node_modules/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="build/style.css" rel="stylesheet">
    <title>404</title>
</head>
<body class="bg-slate-50 font-YekanBakh-Regular text-sm">

<section class="h-screen px-4 flex items-center">
    <div class="container mx-auto max-w-screen-sm text-center leading-10">
        <img alt="" class="w-3/4 mb-16 mx-auto" src="../assets/images/404.png">
        <p class="text-2xl font-YekanBakh-Bold mb-4">اوه، صفحــه مورد نظر یافــت نشد!!</p>
        <a class="bg-indigo-600 text-white py-2 px-6 rounded-xl" href="index.html">برو به صفحه اصلی</a>
    </div>
</section>

</body>
</html>