{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="mb-12 px-4">
    <div class="container mx-auto max-w-screen-xl">
        <div class="bg-white p-3 rounded-3xl my-4">
            <div class="text-sm breadcrumbs">
                <ul>
                    <li><a>خانه</a></li>
                    <li>جزئیات وبلاگ</li>
                </ul>
            </div>
        </div>
        <div class="grid grid-cols-12 gap-4">
            <div class="col-span-12 md:col-span-9 order-1">
                <div class="bg-white p-4 rounded-3xl leading-8">
                    <div class="bg-stone-200 rounded-xl mb-4 p-4">
                        <h1 class="text-sm font-YekanBakh-Bold mb-3">{{ news.title }}</h1>
                        <div class="flex items-center gap-4 text-xs">
                              <span class="flex items-center gap-1">
                                  <svg class="w-5 h-5" fill="none" stroke="currentColor"
                                       stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                      {{ news.created_date }}                                 
                              </span>
                            <span class="flex items-center gap-1">
                                  <svg class="w-5 h-5" fill="none" stroke="currentColor"
                                       stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M2.25 12.75V12A2.25 2.25 0 014.5 9.75h15A2.25 2.25 0 0121.75 12v.75m-8.69-6.44l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                    اخبار                              
                              </span>
                        </div>
                    </div>
                    <img alt="" class="rounded-2xl" src="{{ news.pic.url }}">
                    <p class="mt-4">
                        {{ news.text }}
                    </p>
                </div>
            </div>
            <div class="col-span-12 md:col-span-3 order-2">
                <div class="bg-white p-4 rounded-3xl mb-4 leading-8">
                    <div class="p-3 bg-stone-200 rounded-xl mb-4">
                        <h1 class="text-sm font-YekanBakh-Bold">پربازدیدترین ها</h1>
                    </div>
                    <div>
                        <div class="flex items-center my-4">
                            <div class="avatar">
                                <div class="w-16 rounded-full">
                                    <img src="{% static 'images/124.jpg' %}"/>
                                </div>
                            </div>
                            <div class="mr-2">
                                <h3 class="font-YekanBakh-Bold text-slate-800 text-sm">را های درمان خشکی پوست</h3>
                                <p>لورم ایپسوم متن ساختگی</p>
                            </div>
                        </div>
                        <div class="flex items-center my-4">
                            <div class="avatar">
                                <div class="w-16 rounded-full">
                                    <img src="{% static 'images/125.jpg' %}"/>
                                </div>
                            </div>
                            <div class="mr-2">
                                <h3 class="font-YekanBakh-Bold text-slate-800 text-sm">علائم سیاتیک چیست؟</h3>
                                <p>لورم ایپسوم متن ساختگی</p>
                            </div>
                        </div>
                        <div class="flex items-center my-4">
                            <div class="avatar">
                                <div class="w-16 rounded-full">
                                    <img src="{% static 'images/126.jpg' %}"/>
                                </div>
                            </div>
                            <div class="mr-2">
                                <h3 class="font-YekanBakh-Bold text-slate-800 text-sm">علائم نازک شدن مو های سر</h3>
                                <p>لورم ایپسوم متن ساختگی</p>
                            </div>
                        </div>
                        <div class="flex items-center my-4">
                            <div class="avatar">
                                <div class="w-16 rounded-full">
                                    <img src="{% static 'images/127.jpg' %}"/>
                                </div>
                            </div>
                            <div class="mr-2">
                                <h3 class="font-YekanBakh-Bold text-slate-800 text-sm">علائم یائسگی زودرس چیست؟</h3>
                                <p>لورم ایپسوم متن ساختگی</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
